<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641850973036-c103ecc5tt56mukb9dicbi2t67plfvkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641850973036-c103ecc5tt56mukb9dicbi2t67plfvkn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641850973036-jo7bp195gc8iqcn6lk7mu0nsoous0sua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs1JEjm9OuT-s3DhPMRL4mG9rw2sueKBc</string>
	<key>GCM_SENDER_ID</key>
	<string>641850973036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.fffirebase</string>
	<key>PROJECT_ID</key>
	<string>fffirebase-d9362</string>
	<key>STORAGE_BUCKET</key>
	<string>fffirebase-d9362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641850973036:ios:22c86778468bace6eb3149</string>
</dict>
</plist>